@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.active{
  @apply text-primary
}

/* .active::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  height: 2px; 
  margin-top: 10px; 
  @apply bg-primary;
  border-radius: 2px;
} */
